.section-speciality {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;

    .speciality-container {
        margin: 0 170px;
        display: flex;
        flex-direction: column;

        .speciality-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 12px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .speciality-body {
            .speciality-customize {

                .bg-image {
                    width: 278px;
                    height: 150px;
                    background: url('../../../assets/speciality/co-xuong-khop.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

            // reset slick slider css

            .slick-prev {
                left: -10px !important;
                z-index: 1000;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #e3e3e3 !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwasome !important;
                color: red !important;
                // content: "\e257 " !important;
            }

            .slick-next {
                right: -10px !important;
                z-index: 1000;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #e3e3e3 !important;
                }

            }
        }
    }
}